<div class="item-wrapper" data-id={{id}}>
  <ul>
{{#each items}}
    <li>{{due_date}}</li>
    <li> {{name}}</li>
    <li> {{priority}}</li>
    <li> {{due_time}}</li>
{{/each}}
    <!-- <li><button id={{id}} class="btn edit-item">EDIT</button></li>
    <li><button id={{id}} class="btn delete-item">DELETE</button></li> -->
  </ul>


</div>
