<div class="item-wrapper" data-id={{id}}>

  <h1>My Lists:</h1>
  {{#each lists}}
    {{> lists-partial}}
  {{/each}}
</div>

<h1>im an item</h1>
  <tr>
    {{> items-partial}}
  </tr>
{{/each}}
</table>
</div>

  <!-- <table>
    <thead>
      <th>DATE</th>
      <th>TASK</th>
      <th>PRIORITY</th>
      <th>DUE</th>
    </thead>
<tbody>
  {{#each this.items}}
      <tr>
        <td>
          {{this.due_date}}
        </td>
        <td>
          {{this.name}}
        </td>
        <td>
          {{this.priority}}
        </td>
        <td>
          {{this.due_time}}
        </td>
        <td>
          <button id={{id}} class="btn edit-item">EDIT</button>
        </td>
        <td>
          <button id={{id}} class="btn delete-item">DELETE</button>
        </td>
    </tr>
</tbody>

</table>
  {{/each}}


</div> -->
