<!-- <h2>{{this.title}}</h2>
{{#if this.item}}
  <p>{{this.item}}</p>
{{else}}
  <p>No items yet</p>
{{/if}}

<table>
  <thead>
    <th>DATE</th>
    <th>TASK</th>
    <th>PRIORITY</th>
    <th>DUE</th>
  </thead>
  <tbody>
    <tr>
      <td>
        {{#if this.date}}
        <tr>{{this.date}}</tr>
      </td>
    <td>
        {{#if this.task}}
        <tr>{{this.task}}</tr>
    </td>
    <td>
        {{#if this.priority}}
        <tr>{{this.priority}}</tr>
    </td>
    <td>
        {{#if this.due}}
        <tr>{{this.due}}</tr>
    </td>
  </tr>
  </tbody>
</table>
  {{else}}
    <tr>No items yet</tr>
  {{/if}} -->
